:root {
  --primary-dark: #283618;
  --primary: #606C38;
  --light: #FEFAE0;
  --accent: #DDA15E;
  --accent-dark: #BC6C25;

  --rounded: 12px;
  --transition: 0.2s ease;

  --font-main: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: var(--light);
  color: var(--primary-dark);
}

*, *::before, *::after {
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
}
