:root {
  --primary-dark: #1b4332;
  --primary: #2d6a4f;
  --light: #ffffff;
  --accent: #d8f3dc;
  --accent-dark: #40916c;
  --amber: #bc2f25; 
  --rounded: 12px;
  --transition: 0.2s ease;

  --font-main: 'Inter', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: var(--light);
  color: var(--primary-dark);
}

*, *::before, *::after {
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
}
