.pomo-page {
  width: 100%;
  height: 100vh;
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.pomo-center {
  width: 100%;
  max-width: 420px;
}
